build/**
Vocabulary/**
dependencies/ORB-SLAM3_Ubuntu24.04/Thirdparty/g2o/lib/**
dependencies/ORB-SLAM3_Ubuntu24.04/lib/**
lib
dependencies/ORB-SLAM3_Ubuntu24.04/Thirdparty/g2o/lib
Examples/Monocular-Inertial/mono_inertial_euroc
Examples/Monocular-Inertial/mono_inertial_tum_vi
Examples/Monocular/mono_euroc
Examples/Monocular/mono_kitti
Examples/Monocular/mono_tum
Examples/Monocular/mono_tum_vi
Examples/RGB-D/rgbd_tum
Examples/Stereo-Inertial/stereo_inertial_euroc
Examples/Stereo-Inertial/stereo_inertial_tum_vi
Examples/Stereo/stereo_euroc
Examples/Stereo/stereo_kitti
Examples/Stereo/stereo_tum_vi
Examples_old/Monocular-Inertial/mono_inertial_euroc_old
Examples_old/Monocular-Inertial/mono_inertial_tum_vi_old
Examples_old/Monocular/mono_euroc_old
Examples_old/Monocular/mono_kitti_old
Examples_old/Monocular/mono_tum_old
Examples_old/Monocular/mono_tum_vi_old
Examples_old/RGB-D/rgbd_tum_old
Examples_old/Stereo-Inertial/stereo_inertial_euroc_old
Examples_old/Stereo-Inertial/stereo_inertial_tum_vi_old
Examples_old/Stereo/stereo_euroc_old
Examples_old/Stereo/stereo_kitti_old
Examples_old/Stereo/stereo_tum_vi_old
Thirdparty/g2o/lib/libg2o.so
lib/libORB_SLAM3.so